[submodule "AsteroidsPy"]
	path = AsteroidsPy
	url = https://github.com/Serious-Josh/asteroidsPy
[submodule "webflyx"]
	path = webflyx
	url = https://github.com/Serious-Josh/webflyx
[submodule "pyagent"]
	path = pyagent
	url = /home/joshu/workspace/Josh/PyAgent
